<html>
  <head>
      <link href="./fibonacci.component.css" rel="stylesheet" type="text/css"/>
      <script src="./fibonacci.component.js" type="text/javascript"></script>
  </head>
  <body>
    <div  class="title">
      <h2>Fibonacci Sequence Series</h2>
    </div>
    <div  class="title">
      <input type="text" class="input-val" id="input-id-val">
      <button type="button" class="btn-submit" onclick="getFibonacciSeq()">
        <span>Submit</span>
      </button>
    </div>
  </body>
</html>